/*	background-color: rgb(245,250,170); /*bgcolor*/
/*	background-color:rgb(230,190,40); /*dark orange*/
/*	background-color:rgb(235,211,82); /*orange*/
/*	background-color:rgb(255,255,221); /*light*/
/*	color:rgb(38,38,38); /*font*/

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Light.ttf');
}

body {
	background-color: rgb(245,250,170); 
	font-family:'Open Sans';
	margin:0;
	padding:0;
	color:rgb(38,38,38); 
}
@-ms-viewport{
  width: device-width;
}
@media only screen and (max-width: 480px) {
	h1 {
		font-size: 130%;
	}
	h2 {
		font-size: 70%;
	}
	img {
		max-width: 20%;
		max-height: 50px;
	}
	#show img {
		max-height: 100%;
    	max-width: 100%;
	}
	.sub {
		font-size: 90%;
	}
	p {
		font-size: 100%;
	}
	li {
		font-size: 90%;
	}
}
@media only screen and (min-width: 481px) and (max-width: 529px) {
	h1 {
		font-size: 150%;
	}
	h2 {
		font-size: 80%;
	}
	img {
		max-width: 20%;
		max-height: 50px;
	}
	.sub {
		font-size: 100%;
	}
	p {
		font-size: 90%;
	}
	li {
		font-size: 90%;
	}
}
@media only screen and (min-width: 530px) and (max-width: 640px) {
	h1 {
		font-size: 200%;
	}
	h2 {
		font-size: 100%;
	}
	.sub {
		font-size: medium;
		min-width: 100px;
	}
	img {
		max-width: 75%;
		max-height: 125px;
	}
	p {
		font-size: 90%;
	}
	li {
		font-size: 90%;
	}
}
@media only screen and (min-width: 641px) {
	h1 {
		font-size: 300%;
	}
	h2 {
		font-size: x-large;
	}
	.sub {
		min-width: 125px;
	}
	img {
		max-width: 75%;
		max-height: 125px;
	}
}
@media only screen and (max-width: 815px) {
	#wrapper {
		width: 100%;
	}
	#show {
	    height: 300px;
	    line-height: 300px;
	}
	.high {
		flex-direction:column;
	}
	.deep {
		flex-direction:column-reverse;
	}
	img {
		max-width: 75%;
		max-height: 125px;
	}
}
@media only screen and (min-width: 816px) {
	#wrapper {
		width: 800px;
	}
	#show {
	    height: 420px;
	    line-height: 420px;
	}
	.high, .deep {
		flex-direction:row;
	}
	img {
		max-width: 75%;
		max-height: 125px;
	}
}
h1 {
	font-weight: bold;
	padding:20px 0 5px 0;
	margin:0;
}

p {
	padding:5px 0;
	margin:0;
	text-align: center;

}
h2 {
	font-weight: normal;
	padding: 0 0 10px 0 ;
	margin:0;
}
h3 {
	font-size: xx-large;
	font-weight: normal;
	padding:5px 0;
	text-align: center;
}
h4 {
	padding:10px;
	margin:0;
	text-align: center;
	font-weight: normal;
	font-size: x-large;
}
ul {
	margin:0 0 15px 0;
	list-style-type: square;
	list-style-position: inside;
}
li {
	text-align: center;
	padding:3px;
}
h5 {
	font-size: medium;
	font-weight: normal;
	text-align: center;
	padding: 0;
	margin: 0;
}
img {
	margin:0;
	padding:0;
}
#header {
	margin:15px auto;
	text-align:center;
}
#head {
	background-color:rgb(230,190,40); /*dark orange*/
	background-size: cover;
	color:black;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items:  center;
}
.logo {
	text-align: center;
}
#name {
}
#menu {
	background-color:rgb(235,211,82); /*orange*/
	font-size: large;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
.sub {
	padding: 5px;
	margin:5px;
}
#wrapper {
	margin:0 auto;
}
#place {
	height: 15px;
	background-color:rgb(235,211,82); /*orange*/
}
#foot {
	background-color:rgb(230,190,40); /*dark orange*/
	min-height: 50px;
	text-align: center;
	font-size: medium;
	margin:0 auto 15px auto;
	padding: 10px 0;
}
#show {
	background-color:rgb(255,255,221); /*light*/
	margin:0;
	padding:0;
	position: relative;
    margin:  0 auto;
    overflow:  hidden;
	width: 100%;
    text-align: center;
}
#show li {
	filter:  progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#show img {
    border:  none;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
#show .slideshow-markers {
	background-color:  rgb(10,  10,  10);
	background-color:  rgba(0,  0,  0,  0.5);
    position:  absolute;
    width: 100%;
    bottom:  0px;
    padding:  5px 3px;
    color: #404040 ;
}
#show .slideshow-marker  {
    width:  10px;
    height:  10px;
    float:  left;
    background-image:  url('marker.png');
    margin-right:  4px;
}
#show .slideshow-marker:hover {
    cursor:  pointer;
    background-position:  -10px 0;
}
#show .slideshow-marker.selected {
    background-position:  -20px 0;
}
::-webkit-scrollbar{
	width:10px
}
::-webkit-scrollbar-thumb{
	background-color:rgba(0,0,0,.3)
}
.high, .deep {
	background-color:rgb(255,255,221); /*light*/
	margin: 15px 0;
	padding: 0;
	width: 100%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	justify-content: space-between;
}
.pic {
	max-height: 100%;
	max-width: 100%;
	text-align: center;
	display: block;
}
.sidepic {
	padding: 0;
	margin: 0;
}