body {
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
	background-color: rgb(220,230,242);
}
@media print {
    .more, .about {
        display:none;
    }
	.head {
		font-size:200%;
	}
	h1 {
		font-size:130%;
	}
	h2 {
		font-size:120%;
	}
	p {
		font-size:100%;
	}
	body{
  -webkit-print-color-adjust:exact;
}
}
@media only screen and  (min-width:900px) {
 	.menu {
 		width:900px;
 		margin: 0 auto;
	}  
	.article {
		width:900px;
	}      
}
@media only screen and (max-width:899px) {
    .menu, .article {
        width:100%;
    }
}

@media only screen and (max-width: 575px) {
	.head {
    	font-size: 200%;
    }
    .menu-item {
    	font-size: 120%;
    }
    h1 {
    	font-size: 110%;
    }
    h2 {
    	font-size: 100%;
    }
    p {
		font-size: 90%; 
	}
	.more {
		font-size: 110%;
	}
}

@media only screen and (min-width: 576px) {
	.head {
    	font-size: 350%;
    }
    .menu-item {
    	font-size: 150%;
    }
    h1 {
    	font-size: 140%;
    }
    h2 {
    	font-size: 115%;
    }
    p {
		font-size: 100%; 
	}
	.more {
		font-size: 140%;
	}
}

.head {
	background-color: rgb(90,87,111);
	padding: 30px 0;
	margin:20px auto 0 auto;
	color: white;
	text-align: center;
}
.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.menu-item {
	flex-grow: 1;
	color:rgb(64,64,64);
	text-align: center;
	min-width: 85px;
	padding: 10px 0;
}
.purple {
	background-color: rgb(179,162,199);
}
.blue {
	background-color: rgb(173,197,225);
}
.yellow {
	background-color: rgb(251,242,125);
}
.orange {
	background-color: rgb(231,150,61);
}
.red {
	background-color: rgb(180,54,54);
}
span {
	font-size: 150%;
}
.article {
	margin:10px auto;
	display: flex;
	flex-direction: row;
}
.side {
	text-align: center;
	vertical-align: bottom;
	padding: 5px 0;
	min-width: 15px;	
	color:rgb(64,64,64);
}
.news {
	flex-grow:1;
	padding: 0;
	background-color: white;
	color:rgb(64,64,64);
}
.about {
	background-color: rgb(90,87,111);
	padding: 10px 0;
	margin:10px auto 20px auto;
	color: white;
	text-align: center;
}
a {
	text-decoration:none;
	color:#292929;
}
h1 {
	font-weight: normal;
	padding:15px 10px;
	margin:0;
}
h2 {
	text-align: justify;
	font-weight: normal;
	padding:0px 10px 10px 10px;
	margin:0;
}
p {
	margin:0;
	padding:3px 10px;
	text-align: justify;
}
img {
	padding:3px 0;
	max-width:100%;
}
.imgp {
	text-align:center;
	width:100%;
	padding:0;
}
.more {
	text-align: center;
	padding: 40px auto;
	color:rgb(64,64,64);
	display: none;
}
.date {
	font-size: 90%;
}
.sub {
	margin:0;
	padding:3px 10px;
	text-align: center;
}
.circlepic {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(resource/leahhead.jpg) no-repeat;
	background-size: 100%;
	margin:auto;
}
.links {
   	width: 50px;
}
#share-buttons {	
	text-align:center;
} 
#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}
#disqus_thread {
	padding:10px;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.3); 
}


