#h1404,
#h2404,
#p404,
.about,
.head,
.menu-item,
.side {
    text-align: center
}
h1,
h2 {
    font-weight: 400
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dce6f2
}
@media print {
    #disqus_thread,
    #share-buttons,
    .about,
    .more {
        display: none
    }
    .head {
        font-size: 200%
    }
    h1 {
        font-size: 130%
    }
    h2 {
        font-size: 120%
    }
    p {
        font-size: 100%
    }
    body {
        -webkit-print-color-adjust: exact
    }
}
@media only screen and (max-width: 330px) {
	.article,
    .menu {
        width: 100%
    }
    .head {
        font-size: 150%
    }
	.menu-item {
        font-size: 120%
    }
    .more,
    h1 {
        font-size: 110%
    }
    h2 {
        font-size: 100%
    }
    p {
        font-size: 90%
    }
}
@media only screen and (min-width: 331px) and (max-width: 575px) {
	.article,
    .menu {
        width: 100%
    }
    .head {
        font-size: 200%
    }
    .menu-item {
        font-size: 120%
    }
    .more,
    h1 {
        font-size: 110%
    }
    h2 {
        font-size: 100%
    }
    p {
        font-size: 90%
    }
}
@media only screen and (min-width: 576px) and (max-width: 899px) {
	.article,
    .menu {
        width: 100%
    }
    .head {
        font-size: 350%
    }
    .menu-item {
        font-size: 150%
    }
    .more,
    h1 {
        font-size: 140%
    }
    h2 {
        font-size: 115%
    }
    p {
        font-size: 100%
    }
}
@media only screen and (min-width: 900px) {
    .article,
    .menu {
        width: 900px
    }
    .menu {
        margin: 0 auto
    }
	.head {
        font-size: 350%
    }
    .menu-item {
        font-size: 150%
    }
    .more,
    h1 {
        font-size: 140%
    }
    h2 {
        font-size: 115%
    }
    p {
        font-size: 100%
    }
}

.head {
    background-color: #5a576f;
    padding: 30px 0;
    margin: 20px auto 0;
    color: #fff
}
.menu-item,
.news,
.side {
    color: #404040
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.menu-item {
    flex-grow: 1;
    min-width: 85px;
    padding: 10px 0
}
.purple {
    background-color: #b3a2c7
}
.blue {
    background-color: #adc5e1
}
.yellow {
    background-color: #fbf27d
}
.orange {
    background-color: #e7963d
}
.red {
    background-color: #b43636
}
span {
    font-size: 150%
}
.article {
    margin: 10px auto;
    display: flex;
    flex-direction: row
}
.side {
    vertical-align: bottom;
    padding: 5px 0;
    min-width: 15px
}
.news {
    flex-grow: 1;
    padding: 0;
    background-color: #fff
}
.about {
    background-color: #5a576f;
    padding: 10px 0;
    margin: 10px auto 20px;
    color: #fff
}
h2,
p {
    margin: 0;
    text-align: justify
}
#h1404 {
    font-size: 1000%
}
#h2404 {
    font-size: 200%
}
#p404 {
    font-size: 150%
}
a {
    text-decoration: none;
    color: #292929
}
h1 {
    padding: 15px 10px;
    margin: 0
}
h2 {
    padding: 0 10px 10px
}
p {
    padding: 3px 10px;
}
#share-buttons,
.imgp,
.more,
.sub {
    text-align: center;
	max-width:100%;
}
img {
    padding: 3px 0;
    max-width: 100%;
}
.imgp {
    max-width: 100%;
    padding: 0;
}
.more {
    padding: 40px auto;
    color: #404040;
    display: none
}
.date {
    font-size: 90%
}
.sub {
    margin: 0;
    padding: 3px 10px
}
.circlepic {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(resource/leahhead.jpg) no-repeat;
    background-size: 100%;
    margin: auto
}
.links {
    width: 50px
}
#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}
#disqus_thread {
    padding: 10px;
}
::-webkit-scrollbar {
    width: 10px
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3)
}
.code {
    font-family: 'Inconsolata';
    width: calc(100% - 4px);
    resize: none;
    border: none;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    text-align: justify;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
.flow {
    text-align: center;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.link {
    text-align: center;
    font-weight: bold;
}
